<app-error-message *ngIf="(errorMessage$ | async) as errorMessage" [message]="errorMessage"></app-error-message>
<div class="w-100 h-100">
  <div *ngIf="(project$ | async) as project" class="h-100">
    <div class="d-flex mb-4 justify-content-between align-items-center section-title-row">
      <h5 class="font-serif m-0" >Project Team</h5>
      <app-add-team-member *ngIf="true | can: 'InviteProjectUser' | async" [projectId]="project.id"></app-add-team-member>
    </div>
    <div *ngFor="let user of (projectUsers$ | async)">
      <app-team-member
        [user]="user"
        [canEdit]="!user.isSelf | can: 'EditProjectUsers' | async"
        [canDelete]="!user.isSelf | can: 'DeleteProjectUsers' | async"
        (edit)="updateProjectUser(project.id, $event.userId, $event.role)"
        (remove)="removeProjectUser(project.id, $event.userId)"
      ></app-team-member>
    </div>
    <div *ngIf="(true | can: 'ViewProjectInvites' | async)">
      <div *ngFor="let invite of (projectInvites$ | async)">
        <app-team-invite
          [invite]="invite"
          [canEdit]="true | can: 'EditProjectInvites' | async"
          [canDelete]="true | can: 'DeleteProjectInvites' | async"
          (edit)="updateProjectInvite(project.id, $event.id, $event.role)"
          (remove)="removeProjectInvite(project.id, $event.id)"
        ></app-team-invite>
      </div>
    </div>
  </div>
</div>
