<div *ngIf="errorMessage" class="mb-3">
  <div class="alert alert-danger d-flex justify-content-start mb-0">
    <i class="material-icons mr-3">warning</i>
    <p class="m-0">{{ errorMessage }}</p>
  </div>
</div>
<div *ngIf="selectedLocaleAlreadyExists() && !result" class="mb-3">
  <div class="alert alert-warning d-flex justify-content-start mb-3">
    <i class="material-icons mr-3">warning</i>
    <p class="m-0">Please note that if the destination locale already exists, the import will overwrite existing translations.</p>
  </div>
</div>
<ng-container *ngIf="result; else: noResultTemplate">
  <p >File imported successfully! Here's a summary of what changed:</p>
  <h5 class="display-5 mb-3" >Terms</h5>
  <ul class="list-group mb-4">
      <li class="p-2 list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span >Added</span><span class="mx-2 badge badge-secondary badge-pill"> {{ result.terms.added }} </span>
      </li>
      <li class="p-2 list-group-item d-flex justify-content-between align-items-center">
        <span >Skipped</span><span class="mx-2 badge badge-secondary badge-pill"> {{ result.terms.skipped }} </span>
      </li>
    </ul>
  <h5 class="display-5 mb-3" >Translations</h5>
  <ul class="list-group mb-4">
    <li class="p-2 list-group-item d-flex justify-content-between align-items-center">
      <span >Upserted</span><span class="mx-2 badge badge-secondary badge-pill"> {{ result.translations.upserted }} </span>
    </li>
  </ul>

  <hr />

  <div class="d-flex align-content-center justify-content-end">
    <button class="btn btn-link no-underline mr-3" (click)="reset()" >Import another file</button>
    <button type="button" class="btn btn-primary" (click)="navigateToImportedLocale()" ngbAutofocus >Go to imported locale</button>
  </div>
</ng-container>
<ng-template #noResultTemplate>
  <ng-container *ngIf="files && files.length > 0; else: elseTemplate">
    <div *ngIf="!hasExactlyOneFile()" class="alert alert-danger d-flex justify-content-start mb-3">
      <i class="material-icons mr-3">warning</i>
      <p class="m-0">You may only import one file at a time, please remove the additional files below.</p>
    </div>
    <p >Uploaded files</p>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex" *ngFor="let file of files">
        <i class="text-secondary material-icons mr-2">insert_drive_file</i>
        <span class="flex-1">{{ file.name }}</span>
        <button type="button" class="close" aria-label="Remove" (click)="removeFile(file)">
            <i class="material-icons">close</i>
        </button>
      </li>
    </ul>
    <div class="form-group">
      <label for="exportFormat" >Select an import format</label>
      <div class="input-group">
        <select id="exportFormat" class="custom-select" [(ngModel)]="selectedFormat" [disabled]="loading">
          <option selected [value]="undefined" >File format...</option>
          <option *ngFor="let format of availableFormats" [ngValue]="format">{{ format.displayName }}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label >Select the destination locale</label>
      <app-select-locale
        class="mb-5"
        [locales]="knownLocales"
        [limit]="5"
        [loading]="loading"
        (selectLocale)="onSelectLocale($event)"
      ></app-select-locale>
    </div>

    <hr />

    <div class="d-flex align-content-center justify-content-end">
      <button type="button" class="btn btn-link no-underline mr-3" (click)="reset()" ngbAutofocus >Cancel</button>
      <button type="button" class="btn btn-primary" (click)="import()" [disabled]="!canImport()" >Import</button>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <p >Please select the translation file to import below.</p>
    <div
      class="file-drop-area"
      appDropzone
      [class.hovering]="isHovering"
      (dropped)="dropFiles($event)"
      (hovered)="setHover($event)"
    >
      <label for="file" class="text-secondary d-flex flex-column flex-md-row justify-content-center align-items-center">
        <p class="d-flex display-5 m-0"><i class="material-icons mr-1">create_new_folder</i><ng-container >Drop file to import</ng-container></p>
        <p class="display-5 m-3">or</p>
        <div class="btn btn-primary m-0" >Choose file</div>
      </label>
      <input id="file" class="inputfile" type="file" (change)="dropFiles($event.target.files)" />
    </div>
  </ng-template>
</ng-template>

