<app-error-message *ngIf="(errorMessage$ | async) as errorMessage" [message]="errorMessage"></app-error-message>
<div class="w-100 h-100">
  <div *ngIf="(project$ | async) as project" class="h-100">
    <div class="d-flex mb-4 justify-content-between align-items-center section-title-row">
      <h5 class="font-serif m-0" >API Keys</h5>
      <app-add-api-client
        *ngIf="(true | can: 'AddProjectClient' | async)"
        [projectId]="project.id"
      ></app-add-api-client>
    </div>

    <div
      *ngIf="!(isLoading$ | async) && (projectClients$ | async).length === 0"
      class="alert alert-secondary p-5 d-flex flex-row"
    >
      <i class="material-icons mr-3">info</i>
      <div>
        <h4 class="font-serif" >No API clients created yet</h4>
        <ng-container *ngIf="(true | can: 'AddProjectClient' | async); else elseTemplate">
          <p >You haven't created any API clients for this project yet. Add a new API client to get started!</p>
          <app-add-api-client
            *ngIf="(true | can: 'AddProjectClient' | async)"
            [projectId]="project.id"
            btnClass="btn-primary"
          ></app-add-api-client>
        </ng-container>
        <ng-template #elseTemplate>
          <p >
            You haven't created any API clients for this project yet. Only project admins can create API clients.
          </p>
        </ng-template>
      </div>
    </div>

    <div *ngFor="let client of (projectClients$ | async)">
      <app-api-client
        [projectClient]="client"
        [canEdit]="true | can: 'EditProjectClients' | async"
        [canDelete]="true | can: 'DeleteProjectClients' | async"
        (edit)="updateProjectClient(project.id, $event.id, $event.role)"
        (remove)="removeProjectClient(project.id, $event.id)"
      ></app-api-client>
    </div>
  </div>
</div>
