<div class="card btn" [routerLink]="[project.id]">
  <div class="card-body">
    <div class="d-flex flex-row">
      <h5>{{ project.name }}</h5>
      <span class="flex-1"></span>
      <p class="mb-0">
        <span class="ml-1 badge badge-secondary">{{ project.role | titlecase }}</span>
      </p>
    </div>
    <p class="text-muted">{{ project.description }}</p>
    <div class="card-text">
      <p class="text-muted mb-1">
        <strong class="mr-1">{{ project.termsCount }}</strong> <ng-container >{project.termsCount, plural, =0 {terms} =1 {term} other {terms} }</ng-container>
      </p>
      <p class="text-muted m-0">
        <strong class="mr-1">{{ project.localesCount }}</strong> <ng-container >{project.localesCount, plural, =0 {locales} =1 {locale} other {locales} }</ng-container>
      </p>
    </div>
  </div>
</div>
