<ng-template #content let-modal>
  <form [formGroup]="form" (submit)="addTeamMember()" novalidate>
    <div class="modal-header">
      <h4 class="modal-title font-serif" >Add Team Member</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <i class="material-icons">close</i>
      </button>
    </div>
    <div class="modal-body">
      <app-error-message *ngIf="(errorMessage$ | async) as errorMessage" [message]="errorMessage"></app-error-message>
      <div class="form-group">
        <label for="emailInput" >Email address</label>
        <input
          id="emailInput"
          class="form-control"
          type="email"
          formControlName="email"
          placeholder="Email"
          [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
          autocomplete="off"
        />

        <div class="invalid-feedback">
          <div *ngIf="email.getError('required')" >Email is required.</div>
          <div *ngIf="email.getError('email')" >Must be a valid email</div>
        </div>
      </div>

      <div class="form-group">
        <label for="projectRole" >Project role</label>
        <div class="input-group">
          <select id="projectRole" class="custom-select" formControlName="role">
            <option *ngFor="let role of projectRoles" [ngValue]="role">{{ role | titlecase }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link no-underline" (click)="modal.close()" ngbAutofocus >Cancel</button>
      <button type="submit" [disabled]="!form.valid || (isLoading$ | async)" class="btn btn-primary" >
        Save
      </button>
    </div>
  </form>
</ng-template>

<button
  class="btn btn-sm d-flex justify-content-center align-items-center"
  (click)="open(content)"
  [ngClass]="btnClass"
>
  <i class="material-icons mr-1" style="font-size: 18px">add</i>
  <ng-container >Add team member</ng-container>
</button>
