<app-error-message *ngIf="errorMessage$ | async as errorMessage" [message]="errorMessage"></app-error-message>
<div class="w-100 h-100">
  <div *ngIf="project$ | async as project" class="h-100">
    <div class="d-flex mb-4 justify-content-between align-items-center section-title-row">
      <h5 class="font-serif m-0" >Labels</h5>
      <app-new-label *ngIf="true | can: 'AddLabel' | async" [project]="project"></app-new-label>
    </div>

    <app-search [items]="projectLabels$" [key]="searchKey" [trackBy]="trackElement">
      <ng-template #searchResultsItem let-label="result">
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-row w-100 justify-content-center align-items-center">
              <app-label class="flex-1" [label]="label" (save)="updateLabel(project.id, label.id, $event.value, $event.color)"></app-label>
              <app-edit-label *ngIf="true | can: 'EditLabel' | async" [project]="project" [label]="label"></app-edit-label>
              <button
                *ngIf="true | can: 'DeleteLabel' | async"
                class="ml-3 btn bg-transparent text-dark btn-sm"
                style="max-height: 2rem"
                (click)="deleteLabel(project.id, label.id)"
              >
                <i class="material-icons" style="font-size: 1.25rem">close</i>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </app-search>

    <div *ngIf="!(isLoading$ | async) && (projectLabels$ | async).length === 0">
      <div class="alert alert-secondary p-5 d-flex flex-row">
        <i class="material-icons mr-3">info</i>
        <div>
          <h4 class="font-serif" >Project labels are empty</h4>
          <p >You haven't yet created any labels for this project. Add a new label to get started!</p>
          <app-new-label *ngIf="true | can: 'AddLabel' | async" [project]="project" btnClass="btn-primary"></app-new-label>
        </div>
      </div>
    </div>
  </div>
</div>
