<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title font-serif" >Select locale</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="modal-body">
    <app-select-locale class="mb-5" [locales]="locales" [exclude]="exclude" [limit]="5" (selectLocale)="selectedLocale = $event"> </app-select-locale>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link no-underline" (click)="modal.close()" ngbAutofocus >Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirmSelection()" [disabled]="!isValid()" >Confirm</button>
  </div>
</ng-template>

<ng-container *ngIf="currentLocale; else elseTemplate">
  <button
    [disabled]="readonly"
    class="btn btn-secondary text-dark no-underline btn-sm m-0 d-flex justify-content-center align-items-start"
    (click)="open(content)"
    [ngClass]="btnClass"
  >
    <p class="m-0 font-serif ">
      {{ currentLocale.language }}
      <app-country-flag class="ml-1 text-sm" [locale]="currentLocale"></app-country-flag>
    </p>
    <p class="m-0 ml-2">
      <span class="badge badge-secondary">{{ currentLocale.code }}</span>
    </p>
  </button>
</ng-container>
<ng-template #elseTemplate>
  <button class="btn btn-secondary no-underline btn-sm m-0" (click)="open(content)" [ngClass]="btnClass">
    <p class="m-0 d-flex justify-content-center align-items-center">
      {{ noSelectionLabel }}
    </p>
  </button>
</ng-template>
