<div class="w-100 h-100" *ngIf="(project$ | async) as project">
  <div class="mb-4 d-flex justify-content-between align-items-center section-title-row">
    <h5 class="font-serif m-0" >Import Project Translation</h5>
  </div>
  <div class="card">
    <div class="card-body">
        <app-import-locale
          [project]="project"
          [loading]="isLoading$ | async"
          [projectLocales]="existingLocales$ | async"
          [knownLocales]="knownLocales$ | async"
          (importSuccess)="onImportSuccess()"
      ></app-import-locale>
    </div>
  </div>
</div>