.file-drop-area {
  background-color: #f7f7f7;
  border-radius: 1rem;
  padding: 3rem;
  border: 2px dashed #e7e7e7;
}

.file-drop-area.hovering {
  background-color: #f0f0f0;
}

.inputfile {
  cursor: pointer;
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
