<app-error-message *ngIf="errorMessage$ | async as errorMessage" [message]="errorMessage"></app-error-message>
<div class="w-100 h-100">
  <div *ngIf="project$ | async as project" class="h-100">
    <div class="d-flex mb-4 justify-content-between align-items-center section-title-row">
      <h5 class="font-serif m-0" i18n>Tags</h5>
      <app-new-tag *ngIf="true | can: 'AddTag' | async" [project]="project" [availableColors]="availableColors"></app-new-tag>
    </div>

    <app-search [items]="projectTags$" [key]="searchKey" [trackBy]="trackElement">
      <ng-template #searchResultsItem let-tag="result">
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-row w-100 justify-content-center align-items-center">
              <app-editable-tag
                class="flex-1"
                [readOnly]="!(true | can: 'EditTag' | async)"
                [tag]="tag"
                [availableColors]="availableColors"
                placeholder="Tag name cannot be empty"
                [allowEmpty]="false"
                (save)="updateTag(project.id, tag.id, $event.value, $event.color)"
              ></app-editable-tag>
              <button
                *ngIf="true | can: 'DeleteTag' | async"
                class="ml-3 btn bg-transparent text-dark btn-sm"
                style="max-height: 2rem"
                (click)="deleteTag(project.id, tag.id)"
              >
                <i class="material-icons" style="font-size: 1.25rem">close</i>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </app-search>

    <div *ngIf="!(isLoading$ | async) && (projectTags$ | async).length === 0">
      <div class="alert alert-secondary p-5 d-flex flex-row">
        <i class="material-icons mr-3">info</i>
        <div>
          <h4 class="font-serif" i18n>Project tags are empty</h4>
          <p i18n>You haven't yet created any tags for this project. Add a new tag to get started!</p>
          <app-new-tag *ngIf="true | can: 'AddTag' | async" [project]="project" btnClass="btn-primary"></app-new-tag>
        </div>
      </div>
    </div>
  </div>
</div>
