<app-error-message *ngIf="errorMessage$ | async as errorMessage" [message]="errorMessage"></app-error-message>
<div class="w-100 h-100">
  <div *ngIf="project$ | async as project" class="h-100">
    <div class="d-flex flex-row mb-4 justify-content-between align-items-center section-title-row">
      <h5 class="font-serif m-0" >Translations</h5>
      <span class="flex-1"></span>
      <app-new-locale
        *ngIf="true | can: 'AddTranslation' | async"
        [locales]="knownLocales$ | async"
        [exclude]="existingLocales$ | async"
        (add)="addLocale(project, $event)"
      ></app-new-locale>
    </div>

    <app-search [items]="projectLocalesWithStats$" [key]="searchKey" [trackBy]="trackElement">
      <ng-template #searchResultsItem let-locale="result">
        <div class="card btn mb-3" [routerLink]="[locale.locale.code]">
          <div class="card-body">
            <div class="d-flex flex-row justify-content-between align-items-center">
              <h5 class="font-weight-normal">
                {{ locale.locale.language }}
                <span *ngIf="locale.locale.region" class="text-muted text-sm">{{ locale.locale.region }}</span>
                <app-country-flag class="ml-1 text-sm" [locale]="locale.locale"></app-country-flag>
              </h5>

              <span class="flex-1"></span>

              <ngb-progressbar type="primary" style="min-width: 150px;" [value]="locale.stats.translated" [max]="locale.stats.total" height="auto">
                <span class="px-4 font-weight-bold progress-text">{{ locale.stats.progress | percent }}</span>
              </ngb-progressbar>

              <span class="ml-1 badge badge-secondary">{{ locale.locale.code }}</span>
            </div>
          </div>
        </div>
      </ng-template>
    </app-search>

    <div *ngIf="!(isLoading$ | async) && (projectLocales$ | async)?.length === 0">
      <div class="alert alert-secondary p-5 d-flex flex-row">
        <i class="material-icons mr-3">info</i>
        <div>
          <h4 class="font-serif" >Project locales are empty</h4>
          <p >You haven't yet created any languages for this project. Add a new project language to get started!</p>
          <app-new-locale
            *ngIf="true | can: 'AddTranslation' | async"
            btnClass="btn-primary"
            [locales]="knownLocales$ | async"
            [exclude]="existingLocales$ | async"
            (add)="addLocale(project, $event)"
          ></app-new-locale>
        </div>
      </div>
    </div>
  </div>
</div>
