<app-error-message *ngIf="errorMessage$ | async as errorMessage" [message]="errorMessage"></app-error-message>
<div *ngIf="currentLocale$ | async as currentLocale" class="w-100 h-100">
  <div *ngIf="project$ | async as project" class="h-100">
    <div class="d-flex justify-content-center align-items-center mb-4 section-title-row">
      <h5 class="m-0 font-serif">
        Translations
      </h5>
      <span class="flex-1"></span>
      <div class="form-check text-sm mr-3">
        <input class="form-check-input" type="checkbox" value="" (change)="onFiltersChanged($event.target.checked)" id="untranslatedFilter" />
        <label class="form-check-label" for="untranslatedFilter" >Hide translated</label>
      </div>
      <div ngbDropdown placement="bottom-right" *ngIf="true | can: 'DeleteTranslation' | async">
        <button class="btn m-0 p-0 bg-transparent btn-sm d-flex" ngbDropdownToggle>
          <i class="text-secondary material-icons">settings</i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig">
          <button (click)="deleteProjectLocale(project.id, currentLocale.code)" class="dropdown-item" >
            Delete language
          </button>
        </div>
      </div>
    </div>

    <app-search *ngIf="(translations$ | async).length > 0" [items]="translations$" [key]="searchKey" [trackBy]="trackElement">
      <div class="mb-3 mx-3" *ngIf="projectLocales$ | async as projectLocales">
        <ng-template #searchResultsItem let-translationView="result">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex flex-column w-100 align-items-start justify-content-center">
                <div class="d-flex flex-column mb-3 w-100">
                  <p class="m-0 mb-1 mr-3 truncate text-sm"><span class="text-muted">Term:</span> {{ translationView.term.value }}</p>
                  <app-assigned-labels
                    hint="Hint: You can use term labels if you'd like to assign a label to all related translations."
                    [labels]="translationView.labels"
                    [availableLabels]="projectLabels$ | async"
                    (add)="labelTranslation(project.id, translationView.term.id, $event, currentLocale.code)"
                    (remove)="unlabelTranslation(project.id, translationView.term.id, $event, currentLocale.code)"
                  ></app-assigned-labels>
                </div>
                <div class="w-100">
                  <div class="border-top my-3"></div>
                </div>
                <div class="d-flex flex-row mb-3 w-100">
                  <app-select-locale-modal
                    class="mr-4"
                    [readonly]="false"
                    [currentLocale]="currentLocale"
                    [exclude]="[currentLocale]"
                    [locales]="asLocales(projectLocales)"
                    (select)="setCurrentLocale(project, $event)"
                  >
                  </app-select-locale-modal>
                  <app-editable-text
                    [readOnly]="!(true | can: 'EditTranslation' | async)"
                    class="flex-1"
                    showLength="true"
                    [value]="translationView.value"
                    placeholder="Not translated yet"
                    (save)="updateTranslation(project.id, currentLocale.code, translationView.term.id, $event)"
                  >
                  </app-editable-text>
                </div>
                <div class="d-flex flex-row mb-3 w-100 align-items-start">
                  <app-select-locale-modal
                    class="mr-1"
                    noSelectionLabel="Pick a reference locale"
                    [currentLocale]="referenceLocale$ | async"
                    [exclude]="[currentLocale]"
                    [locales]="asLocales(projectLocales)"
                    (select)="setReferenceLocale(project, $event)"
                  >
                  </app-select-locale-modal>
                  <button
                    *ngIf="referenceLocale$ | async"
                    type="button"
                    class="close m-0 p-0 mr-1"
                    style="height: 2rem"
                    aria-label="Remove"
                    (click)="removeReferenceLocale(project)"
                  >
                    <i class="material-icons" style="font-size: 18px">close</i>
                  </button>
                  <app-editable-text
                    *ngIf="referenceLocale$ | async as referenceLocale"
                    [readOnly]="!(true | can: 'EditTranslation' | async)"
                    class="flex-1"
                    showLength="true"
                    [value]="translationView.valueRef"
                    placeholder="Not translated yet"
                    (save)="updateTranslation(project.id, referenceLocale.code, translationView.term.id, $event)"
                  >
                  </app-editable-text>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </app-search>

    <div
      *ngIf="!(filterTranslated$ | async) && !(isLoading$ | async) && (translations$ | async).length === 0"
      class="alert alert-secondary p-5 d-flex flex-row"
    >
      <i class="material-icons mr-3">info</i>
      <div>
        <h4 class="font-serif" >No project terms yet</h4>
        <p >You haven't created any terms for this project yet. Add a new project term to get started!</p>
        <button class="btn btn-sm btn-primary" [routerLink]="['/projects', project.id, 'terms']">
          Go to project terms
        </button>
      </div>
    </div>

    <div
      *ngIf="(filterTranslated$ | async) && !(isLoading$ | async) && (translations$ | async).length === 0"
      class="alert alert-secondary p-5 d-flex flex-row"
    >
      <i class="material-icons mr-3">info</i>
      <div>
        <h4 class="font-serif" >All done!</h4>
        <p >It looks like you have translated all terms for this locale.</p>
      </div>
    </div>
  </div>
</div>
