<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title font-serif" >Assigned labels</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="modal-body">
    <app-error-message *ngIf="errorMessage$ | async as errorMessage" [message]="errorMessage"></app-error-message>
    <p class="text-muted" >
      {{ hint }}
    </p>
    <app-select-label class="mb-5" [labels]="availableLabels" [exclude]="labels" [limit]="5" (selectLabel)="selectedLabel = $event">
    </app-select-label>
  </div>
  <div class="modal-footer">
    <app-new-label
      *ngIf="true | can: 'AddLabel' | async"
      btnClass="bg-transparent"
      [project]="project$ | async"
      buttonLabel="Create a new label"
    ></app-new-label>
    <div class="flex-1"></div>
    <button type="button" class="btn btn-link no-underline" (click)="modal.close()" ngbAutofocus >Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirmSelection()" [disabled]="!isValid()" >Add selected</button>
  </div>
</ng-template>

<div class="d-flex flex-row justify-content-start align-items-center flex-wrap">
  <button
    *ngIf="editable && (true | can: 'EditLabel' | async)"
    (click)="open(content)"
    class="m-1 btn btn-sm btn-outline-secondary d-flex justify-content-center align-items-center"
    [ngStyle]="{ 'font-size': 'x-small', height: '1.5rem' }"
  >
    <i class="material-icons text-sm">add</i>Label
  </button>
  <app-label
    class="m-1 d-flex align-items-center justify-content-center"
    *ngFor="let label of labels"
    [label]="label"
    [removable]="(editable && (true | can: 'EditLabel' | async)) || false"
    (remove)="remove.emit($event)"
  ></app-label>
</div>
